* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #cfd6d6;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.invoice-container {
    width: 900px;
    background: #fff;
}

.invoice-class {
    display: flex;
}

.main-content {
    width: 65%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 35%;
    color: white;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(
        to bottom,
        #2f3a3a 0%,
        #2f3a3a 24%,
        #3b4646 24%,
        #3b4646 45%,
        #2f3a3a 45%,
        #2f3a3a 100%
    )
}

.sidebar-header {
    background: #3b4646;
    margin: -40px -25px 30px -25px;
    padding: 21px;
    text-align: center;
}

.logo-section{
    background: #eef1f1;
    padding: 30px;
    margin: -40px -40px 30px -40px;
}
.logo-section h1 {
    font-size: 22px;
}

.tagline {
    font-size: 12px;
    color: gray;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info-grid h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.info-grid p {
    font-size: 12px;
    color: #555;
}

.items-table {
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-top: 20px;
    background: #f3f5f5;
    border-collapse: collapse;
}

.items-table th {
    text-align: center;
    font-size: 13px;
    padding: 10px 5px;
}

.items-table td {
    text-align: center;
    font-size: 13px;
    padding: 10px 5px;
}

.bottom-section {
    margin-top: 30px;
}

.terms {
    margin-bottom: 20px;
}

.terms h3, .payment h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.terms p {
    font-size: 12px;
    color: #666;
}

.methods {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}

.input-line {
    height: 20px;
    background: #ccc;
    margin: 5px 0 10px 0;
}

.invoice-title {
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.dates {
    margin-top: -220px;
    text-align: center;
}

.dates p {
    font-size: 10px;
    margin-bottom: 12px;
}

.summary {
    margin-top: 20px;
}

.summary .line {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 8px 0;
}

.summary hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.total-line {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}

.signature-section {
    margin-top: 40px;
}

.sig-line {
    border-top: 1px solid rgba(255,255,255,0.5);
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
}

.items-side {
    width: 30%;
    margin-left: 670px;
    z-index: 2;
    color: white;
}

.side-header {
    transform: translateY(-170px);
}

.side-row {
    transform: translateY(-130px);
}

.side-header, .side-row {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-left: 40px;
}

.side-header span, .side-row span {
    font-weight: bold;
}

.side-header span:first-child, .side-row span:first-child {
    transform: translateX(-90px);
}

.side-header span:last-child, .side-row span:last-child {
    transform: translateX(-50px);
}
